.episode_item {
  margin-bottom: 80px;
  border-radius: 7px;
  transition: all 0.4s ease;

  .category {
    display: inline-block;
    color: #333;
    font-size: 0.9em;
    margin-bottom: 8px;
    border-bottom: 2px solid #fdc00a;
  }
  .title {
    font-size: 1.5em;
    color: var(--corpo);
    font-weight: 500;
  }

  .date {
    margin-bottom: 12px;
    font-size: 1em;
  }

  .text {
    margin-bottom: 32px;

    p {
      color: rgb(156, 156, 156);
      margin-bottom: 16px;
    }

    a {
      text-decoration: underline;
    }
  }
  audio {
    width: 100%;
    margin-bottom: 32px;
    color: var(--corpo);
    text-decoration: underline;
  }
  .link_todetail {
    a {
      font-size: 0.9em;
      background-color: var(--corpo);
      color: white;
      padding: 4px 12px;
    }
  }
}
