:root {
  --corpo: #ff787a;
  --corpo-light: #ff9d9b;
  --corpo-dark: #051d49;
  --corpo-dark-ds: #373e5a;

  --w: #fff;
  --b: #333;
  --grey: #aeaeae;
  --backgrey: #f7f7f7;
  --text-color: #7e7e7e;
  --anchor-color: #7c898c;

  color: var(--corpo-dark);
  font-family: "Fira Mono", monospace, sans-serif;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

%serif {
  font-family: "Noto Serif", serif;
}

p {
  margin: 0;
  color: var(--text-color);
  font-size: 1.1em;
  line-height: 1.4em;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}
////

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.strech_layout {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    width: 70%;
  }
}

section {
  padding: 56px 0;
}

.textwrapper {
  p {
    font-size: 1.7em;
    color: var(--corpo-dark);
  }
}
